@import url('https://fonts.googleapis.com/css?family=Sanchez&display=swap');
body {
  padding-top: 70px;
  margin:0;
  font-family: 'Sanchez', serif;
  font-weight:900;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
